Node-Red Flow code.txt
[{"id":"bd236d3.a6ef09","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e815253e.0f2d98","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"b0d89b8f.201ff8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"e74eb1a8.646a6","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ee7c14d2.f97cb8","type":"ui_tab","z":"","name":"LatestNode-red training","icon":"dashboard","disabled":false,"hidden":false},{"id":"4f046cc0.9d6274","type":"ui_group","z":"","name":"Temperature2","tab":"ee7c14d2.f97cb8","order":1,"disp":true,"width":"6","collapse":false},{"id":"966ea809.3325c8","type":"ui_group","z":"","name":"Temperature1","tab":"ee7c14d2.f97cb8","order":2,"disp":true,"width":"6","collapse":false},{"id":"741a9685.876b08","type":"ui_group","z":"","name":"Temperature2","tab":"ee7c14d2.f97cb8","order":3,"disp":true,"width":"6","collapse":false},{"id":"4215f13f.04f84","type":"ui_group","z":"","name":"Temperature3","tab":"ee7c14d2.f97cb8","order":4,"disp":true,"width":"6","collapse":false},{"id":"96b2084e.848be8","type":"ui_group","z":"","name":"Temperature4","tab":"ee7c14d2.f97cb8","order":5,"disp":true,"width":"6","collapse":false},{"id":"a20d318d.90252","type":"ui_tab","z":"","name":"humidity tab","icon":"dashboard","disabled":false,"hidden":false},{"id":"c5288685.0d8508","type":"ui_group","z":"","name":"humidity","tab":"a20d318d.90252","order":1,"disp":true,"width":"6","collapse":false},{"id":"20b6bee1.3501f2","type":"ui_group","z":"","name":"current time","tab":"ee7c14d2.f97cb8","order":6,"disp":true,"width":"6","collapse":false},{"id":"cb4a384a.a7e958","type":"ui_group","z":"","name":"current temp","tab":"ee7c14d2.f97cb8","order":7,"disp":true,"width":"6","collapse":false},{"id":"45bc802b.b781a","type":"ui_group","z":"","name":"status","tab":"ee7c14d2.f97cb8","order":8,"disp":true,"width":"6","collapse":false},{"id":"c9bc5dae.47f21","type":"ibmiot in","z":"bd236d3.a6ef09","authentication":"apiKey","apiKey":"b0d89b8f.201ff8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"8217577503","applicationId":"","deviceType":"IoTDevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":200,"y":160,"wires":[["3c6a863c.e41c6a","a1e43220.2058","7e25ffca.8dbc7","1a190c40.193ec4"]]},{"id":"3c6a863c.e41c6a","type":"debug","z":"bd236d3.a6ef09","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":160,"wires":[]},{"id":"a1e43220.2058","type":"function","z":"bd236d3.a6ef09","name":"temp","func":"msg.payload = msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":240,"wires":[["3c6a863c.e41c6a","9dcc570a.833018","789dfd51.d65564","5e35cfac.2e58a","18397b63.02e3a5"]]},{"id":"7e25ffca.8dbc7","type":"function","z":"bd236d3.a6ef09","name":"humitidy","func":"msg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":320,"wires":[["3c6a863c.e41c6a","999a86d0.41ca98"]]},{"id":"1a190c40.193ec4","type":"function","z":"bd236d3.a6ef09","name":"soil moisture","func":"msg.payload = msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":380,"wires":[["3c6a863c.e41c6a"]]},{"id":"9dcc570a.833018","type":"ui_gauge","z":"bd236d3.a6ef09","name":"Temperature","group":"4215f13f.04f84","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":240,"wires":[]},{"id":"789dfd51.d65564","type":"ui_gauge","z":"bd236d3.a6ef09","name":"Temperature","group":"966ea809.3325c8","order":0,"width":0,"height":0,"gtype":"donut","title":"Temperature","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":300,"wires":[]},{"id":"5e35cfac.2e58a","type":"ui_gauge","z":"bd236d3.a6ef09","name":"Temperature","group":"741a9685.876b08","order":0,"width":0,"height":0,"gtype":"compass","title":"Temperature","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":340,"wires":[]},{"id":"18397b63.02e3a5","type":"ui_gauge","z":"bd236d3.a6ef09","name":"Temperature","group":"96b2084e.848be8","order":0,"width":0,"height":0,"gtype":"wave","title":"Temperature","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":380,"wires":[]},{"id":"999a86d0.41ca98","type":"ui_gauge","z":"bd236d3.a6ef09","name":"","group":"c5288685.0d8508","order":1,"width":0,"height":0,"gtype":"gage","title":"Humitidy","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":460,"wires":[]},{"id":"ffc59860.bbe938","type":"ibmiot out","z":"bd236d3.a6ef09","authentication":"apiKey","apiKey":"b0d89b8f.201ff8","outputType":"cmd","deviceId":"9632312282","deviceType":"IoTDevice","eventCommandType":"Home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":440,"y":520,"wires":[]},{"id":"a3449712.8b6ce8","type":"ui_button","z":"bd236d3.a6ef09","name":"","group":"c5288685.0d8508","order":3,"width":0,"height":0,"passthru":false,"label":"Motor on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motor on\"}","payloadType":"json","topic":"","x":100,"y":440,"wires":[["ffc59860.bbe938","ba2a711c.9250c"]]},{"id":"d359ceb2.064fc","type":"ui_button","z":"bd236d3.a6ef09","name":"","group":"c5288685.0d8508","order":4,"width":0,"height":0,"passthru":false,"label":"Motor off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motor off\"}","payloadType":"json","topic":"","x":140,"y":520,"wires":[["ffc59860.bbe938","ba2a711c.9250c"]]},{"id":"ba2a711c.9250c","type":"debug","z":"bd236d3.a6ef09","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":440,"wires":[]},{"id":"cd34cee9.95e3f","type":"ui_button","z":"bd236d3.a6ef09","name":"","group":"cb4a384a.a7e958","order":0,"width":0,"height":0,"passthru":true,"label":"current temp","tooltip":"","color":"","bgcolor":"","icon":"","payload":"var myVar = setInterval(myTimer, 1000); function myTimer() {   var d = new Date();   document.getElementById(\"demo\").innerHTML = d.toLocaleTimeString(); } ","payloadType":"str","topic":"","x":290,"y":580,"wires":[["ba2a711c.9250c"]]},{"id":"84574e5d.b7b1","type":"ui_button","z":"bd236d3.a6ef09","name":"","group":"c5288685.0d8508","order":2,"width":0,"height":0,"passthru":true,"label":"Status","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":480,"y":600,"wires":[["ba2a711c.9250c"]]},{"id":"c20c63a1.dc8af","type":"ui_button","z":"bd236d3.a6ef09","name":"","group":"cb4a384a.a7e958","order":1,"width":0,"height":0,"passthru":true,"label":"status","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":620,"y":540,"wires":[["ba2a711c.9250c"]]},{"id":"4522d8fb.10e848","type":"inject","z":"e815253e.0f2d98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":100,"wires":[["6cee373.a5139c8"]]},{"id":"6cee373.a5139c8","type":"http request","z":"e815253e.0f2d98","name":"Weather Forecasting Data","method":"GET","ret":"txt","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Bengaluru,IN&appid=3fb7696f5c14a418d65553ff4fe14a86","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":200,"wires":[["33f05c10.9d15a4","38fc3cd9.260504","27e1a534.ed77aa","ee5ea4d1.1434d8","b5d9ef54.44259","76d54e3f.aa217","77e3d762.423ac8"]]},{"id":"33f05c10.9d15a4","type":"debug","z":"e815253e.0f2d98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":520,"y":100,"wires":[]},{"id":"38fc3cd9.260504","type":"function","z":"e815253e.0f2d98","name":"Temperature","func":"msg.payload = msg.payload.temp\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":200,"wires":[[]]},{"id":"27e1a534.ed77aa","type":"function","z":"e815253e.0f2d98","name":"Humitidy","func":"msg.payload = msg.payload.humitidy\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":260,"wires":[[]]},{"id":"ee5ea4d1.1434d8","type":"function","z":"e815253e.0f2d98","name":"Wind speed","func":"msg.payloud = msg.payload.windspeed\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":320,"wires":[[]]},{"id":"b5d9ef54.44259","type":"function","z":"e815253e.0f2d98","name":"Sunrise","func":"msg.payload = msg.payload.sunrise\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":380,"wires":[[]]},{"id":"76d54e3f.aa217","type":"function","z":"e815253e.0f2d98","name":"Sunset","func":"msg.payload = msg.payload.sunset\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":440,"wires":[[]]},{"id":"77e3d762.423ac8","type":"function","z":"e815253e.0f2d98","name":"Timezone","func":"msg.payload = msg.payload.timezone\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":500,"wires":[[]]}]