Node-Red Flow code.txt
[{"id":"e9884bc5.b22618","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"ce5bb284.9d6e","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b0d89b8f.201ff8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"e74eb1a8.646a6","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ee7c14d2.f97cb8","type":"ui_tab","z":"","name":"LatestNode-red training","icon":"dashboard","disabled":false,"hidden":false},{"id":"4f046cc0.9d6274","type":"ui_group","z":"","name":"Temperature2","tab":"ee7c14d2.f97cb8","order":2,"disp":true,"width":"6","collapse":false},{"id":"966ea809.3325c8","type":"ui_group","z":"","name":"Temperature1","tab":"ee7c14d2.f97cb8","order":1,"disp":true,"width":"6","collapse":false},{"id":"741a9685.876b08","type":"ui_group","z":"","name":"humitidy","tab":"ee7c14d2.f97cb8","order":5,"disp":true,"width":"6","collapse":false},{"id":"4215f13f.04f84","type":"ui_group","z":"","name":"Temperature3","tab":"ee7c14d2.f97cb8","order":3,"disp":true,"width":"6","collapse":false},{"id":"96b2084e.848be8","type":"ui_group","z":"","name":"Temperature4","tab":"ee7c14d2.f97cb8","order":4,"disp":true,"width":"6","collapse":false},{"id":"a20d318d.90252","type":"ui_tab","z":"","name":"humidity tab","icon":"dashboard","disabled":false,"hidden":false},{"id":"c5288685.0d8508","type":"ui_group","z":"","name":"humidity","tab":"a20d318d.90252","order":1,"disp":true,"width":"6","collapse":false},{"id":"20b6bee1.3501f2","type":"ui_group","z":"","name":"current time","tab":"ee7c14d2.f97cb8","order":6,"disp":true,"width":"6","collapse":false},{"id":"cb4a384a.a7e958","type":"ui_group","z":"","name":"current temp","tab":"ee7c14d2.f97cb8","order":7,"disp":true,"width":"6","collapse":false},{"id":"45bc802b.b781a","type":"ui_group","z":"","name":"status","tab":"ee7c14d2.f97cb8","order":8,"disp":true,"width":"6","collapse":false},{"id":"a6bd50c1.ec986","type":"ibmiot in","z":"e9884bc5.b22618","authentication":"apiKey","apiKey":"b0d89b8f.201ff8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"8217577503","applicationId":"","deviceType":"IoTDevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":200,"y":160,"wires":[["9f490485.53c5e8","585b4de8.efef24","770584ba.7c195c","10d7e98d.05e976"]]},{"id":"9f490485.53c5e8","type":"debug","z":"e9884bc5.b22618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":160,"wires":[]},{"id":"585b4de8.efef24","type":"function","z":"e9884bc5.b22618","name":"temp","func":"msg.payload = msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":240,"wires":[["9f490485.53c5e8","fc66a61d.1a80e8","30130199.96a3fe","4700f25b.7083ec","c826fbf5.92a268"]]},{"id":"770584ba.7c195c","type":"function","z":"e9884bc5.b22618","name":"humitidy","func":"msg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":320,"wires":[["9f490485.53c5e8","d3668c0d.5daad"]]},{"id":"10d7e98d.05e976","type":"function","z":"e9884bc5.b22618","name":"soil moisture","func":"msg.payload = msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":380,"wires":[["9f490485.53c5e8"]]},{"id":"fc66a61d.1a80e8","type":"ui_gauge","z":"e9884bc5.b22618","name":"Temperature","group":"4215f13f.04f84","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":240,"wires":[]},{"id":"30130199.96a3fe","type":"ui_gauge","z":"e9884bc5.b22618","name":"Temperature","group":"4f046cc0.9d6274","order":0,"width":0,"height":0,"gtype":"donut","title":"Temperature","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":300,"wires":[]},{"id":"4700f25b.7083ec","type":"ui_gauge","z":"e9884bc5.b22618","name":"Temperature","group":"966ea809.3325c8","order":0,"width":0,"height":0,"gtype":"compass","title":"Temperature","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":340,"wires":[]},{"id":"c826fbf5.92a268","type":"ui_gauge","z":"e9884bc5.b22618","name":"Temperature","group":"96b2084e.848be8","order":0,"width":0,"height":0,"gtype":"wave","title":"Temperature","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":380,"wires":[]},{"id":"d3668c0d.5daad","type":"ui_gauge","z":"e9884bc5.b22618","name":"","group":"c5288685.0d8508","order":1,"width":0,"height":0,"gtype":"gage","title":"Humitidy","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":460,"wires":[]},{"id":"dc57e2f.e086b2","type":"ibmiot out","z":"e9884bc5.b22618","authentication":"apiKey","apiKey":"b0d89b8f.201ff8","outputType":"cmd","deviceId":"9632312282","deviceType":"IoTDevice","eventCommandType":"Home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":440,"y":520,"wires":[]},{"id":"3fb44752.7ad2d8","type":"ui_button","z":"e9884bc5.b22618","name":"","group":"c5288685.0d8508","order":3,"width":0,"height":0,"passthru":false,"label":"Motor on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motor on\"}","payloadType":"json","topic":"","x":100,"y":440,"wires":[["dc57e2f.e086b2","7f4fca14.fb48d4"]]},{"id":"a175f0aa.3406f","type":"ui_button","z":"e9884bc5.b22618","name":"","group":"c5288685.0d8508","order":4,"width":0,"height":0,"passthru":false,"label":"Motor off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motor off\"}","payloadType":"json","topic":"","x":140,"y":520,"wires":[["dc57e2f.e086b2","7f4fca14.fb48d4"]]},{"id":"7f4fca14.fb48d4","type":"debug","z":"e9884bc5.b22618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":440,"wires":[]},{"id":"87db027d.b8199","type":"ui_button","z":"e9884bc5.b22618","name":"","group":"cb4a384a.a7e958","order":0,"width":0,"height":0,"passthru":true,"label":"current temp","tooltip":"","color":"","bgcolor":"","icon":"","payload":"var myVar = setInterval(myTimer, 1000); function myTimer() {   var d = new Date();   document.getElementById(\"demo\").innerHTML = d.toLocaleTimeString(); } ","payloadType":"str","topic":"","x":290,"y":580,"wires":[["7f4fca14.fb48d4"]]},{"id":"13e28af6.b1c9a5","type":"ui_button","z":"e9884bc5.b22618","name":"","group":"c5288685.0d8508","order":2,"width":0,"height":0,"passthru":true,"label":"Status","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":480,"y":600,"wires":[["7f4fca14.fb48d4"]]},{"id":"cd8d7f48.32e56","type":"ui_button","z":"e9884bc5.b22618","name":"","group":"cb4a384a.a7e958","order":1,"width":0,"height":0,"passthru":true,"label":"status","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":620,"y":540,"wires":[["7f4fca14.fb48d4"]]},{"id":"380aec4c.876654","type":"inject","z":"ce5bb284.9d6e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":100,"wires":[["916d6fa3.89d72"]]},{"id":"916d6fa3.89d72","type":"http request","z":"ce5bb284.9d6e","name":"Weather Forecasting Data","method":"GET","ret":"txt","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Bengaluru,IN&appid=3fb7696f5c14a418d65553ff4fe14a86","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":200,"wires":[["52c92bd1.7c04c4","94233faa.eca4a","598a53c4.539a1c","3ea24745.bf4178","888943ef.fab25","a76e1d97.6801f","36e867d2.568028"]]},{"id":"52c92bd1.7c04c4","type":"debug","z":"ce5bb284.9d6e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":520,"y":100,"wires":[]},{"id":"94233faa.eca4a","type":"function","z":"ce5bb284.9d6e","name":"Temperature","func":"msg.payload = msg.payload.temp\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":200,"wires":[[]]},{"id":"598a53c4.539a1c","type":"function","z":"ce5bb284.9d6e","name":"Humitidy","func":"msg.payload = msg.payload.humitidy\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":260,"wires":[[]]},{"id":"3ea24745.bf4178","type":"function","z":"ce5bb284.9d6e","name":"Wind speed","func":"msg.payloud = msg.payload.windspeed\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":320,"wires":[[]]},{"id":"888943ef.fab25","type":"function","z":"ce5bb284.9d6e","name":"Sunrise","func":"msg.payload = msg.payload.sunrise\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":380,"wires":[[]]},{"id":"a76e1d97.6801f","type":"function","z":"ce5bb284.9d6e","name":"Sunset","func":"msg.payload = msg.payload.sunset\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":440,"wires":[[]]},{"id":"36e867d2.568028","type":"function","z":"ce5bb284.9d6e","name":"Timezone","func":"msg.payload = msg.payload.timezone\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":500,"wires":[[]]}]