Node-Red Flow code.txt
[{"id":"812325dc.0077d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"32472832.265b68","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"b0d89b8f.201ff8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"e74eb1a8.646a6","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ee7c14d2.f97cb8","type":"ui_tab","z":"","name":"LatestNode-red training","icon":"dashboard","disabled":false,"hidden":false},{"id":"741a9685.876b08","type":"ui_group","z":"","name":"humitidy","tab":"ee7c14d2.f97cb8","order":5,"disp":true,"width":"6","collapse":false},{"id":"4215f13f.04f84","type":"ui_group","z":"","name":"Temperature","tab":"ee7c14d2.f97cb8","order":2,"disp":true,"width":"6","collapse":false},{"id":"a20d318d.90252","type":"ui_tab","z":"","name":"humidity tab","icon":"dashboard","disabled":false,"hidden":false},{"id":"c5288685.0d8508","type":"ui_group","z":"","name":"humidity","tab":"a20d318d.90252","order":1,"disp":true,"width":"6","collapse":false},{"id":"20b6bee1.3501f2","type":"ui_group","z":"","name":"current time","tab":"ee7c14d2.f97cb8","order":3,"disp":true,"width":"6","collapse":false},{"id":"cb4a384a.a7e958","type":"ui_group","z":"","name":"current temp","tab":"ee7c14d2.f97cb8","order":4,"disp":true,"width":"6","collapse":false},{"id":"45bc802b.b781a","type":"ui_group","z":"","name":"status","tab":"ee7c14d2.f97cb8","order":1,"disp":true,"width":"6","collapse":false},{"id":"1c6b8874.f41788","type":"ui_group","z":"","name":"Temperature4","tab":"ee7c14d2.f97cb8","order":4,"disp":true,"width":"6","collapse":false},{"id":"2811aa8c.7a5e36","type":"ibmiot in","z":"812325dc.0077d8","authentication":"apiKey","apiKey":"b0d89b8f.201ff8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"8217577503","applicationId":"","deviceType":"IoTDevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":200,"y":160,"wires":[["20581407.7927bc","c63b2b95.119418","abb3a00b.49468","aca77188.eb102"]]},{"id":"20581407.7927bc","type":"debug","z":"812325dc.0077d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":160,"wires":[]},{"id":"c63b2b95.119418","type":"function","z":"812325dc.0077d8","name":"temp","func":"msg.payload = msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":240,"wires":[["20581407.7927bc","637fb20.638bb5"]]},{"id":"abb3a00b.49468","type":"function","z":"812325dc.0077d8","name":"humitidy","func":"msg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":320,"wires":[["20581407.7927bc","9d05b0d9.9dddb"]]},{"id":"aca77188.eb102","type":"function","z":"812325dc.0077d8","name":"soil moisture","func":"msg.payload = msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":380,"wires":[["20581407.7927bc"]]},{"id":"637fb20.638bb5","type":"ui_gauge","z":"812325dc.0077d8","name":"Temperature","group":"4215f13f.04f84","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":240,"wires":[]},{"id":"9d05b0d9.9dddb","type":"ui_gauge","z":"812325dc.0077d8","name":"","group":"c5288685.0d8508","order":1,"width":0,"height":0,"gtype":"gage","title":"Humitidy","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":320,"wires":[]},{"id":"c72b3631.996098","type":"ibmiot out","z":"812325dc.0077d8","authentication":"apiKey","apiKey":"b0d89b8f.201ff8","outputType":"cmd","deviceId":"9632312282","deviceType":"IoTDevice","eventCommandType":"Home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":440,"y":520,"wires":[]},{"id":"90ee9231.30409","type":"ui_button","z":"812325dc.0077d8","name":"","group":"c5288685.0d8508","order":3,"width":0,"height":0,"passthru":false,"label":"Motor on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motor on\"}","payloadType":"json","topic":"","x":100,"y":440,"wires":[["c72b3631.996098","451eb2e0.f98dbc"]]},{"id":"ce565685.1e7e18","type":"ui_button","z":"812325dc.0077d8","name":"","group":"c5288685.0d8508","order":4,"width":0,"height":0,"passthru":false,"label":"Motor off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motor off\"}","payloadType":"json","topic":"","x":140,"y":520,"wires":[["c72b3631.996098","451eb2e0.f98dbc"]]},{"id":"451eb2e0.f98dbc","type":"debug","z":"812325dc.0077d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":440,"wires":[]},{"id":"b597e856.eaee78","type":"ui_button","z":"812325dc.0077d8","name":"","group":"cb4a384a.a7e958","order":0,"width":0,"height":0,"passthru":true,"label":"current temp","tooltip":"","color":"","bgcolor":"","icon":"","payload":"var myVar = setInterval(myTimer, 1000); function myTimer() {   var d = new Date();   document.getElementById(\"demo\").innerHTML = d.toLocaleTimeString(); } ","payloadType":"str","topic":"","x":290,"y":580,"wires":[["451eb2e0.f98dbc"]]},{"id":"ffb45c3b.8f57a","type":"ui_button","z":"812325dc.0077d8","name":"","group":"c5288685.0d8508","order":2,"width":0,"height":0,"passthru":true,"label":"Status","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":480,"y":600,"wires":[["451eb2e0.f98dbc"]]},{"id":"218fcfa1.d249d","type":"ui_button","z":"812325dc.0077d8","name":"","group":"cb4a384a.a7e958","order":1,"width":0,"height":0,"passthru":true,"label":"status","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":620,"y":540,"wires":[["451eb2e0.f98dbc"]]},{"id":"cb3d4348.1832b","type":"inject","z":"32472832.265b68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":100,"wires":[["b6151f14.fc196"]]},{"id":"b6151f14.fc196","type":"http request","z":"32472832.265b68","name":"Weather Forecasting Data","method":"GET","ret":"txt","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Bengaluru,IN&appid=3fb7696f5c14a418d65553ff4fe14a86","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":200,"wires":[["b60c95cd.675918","6d517507.7dce8c","eceb225.0d386e","200428fe.5bd8d8","bf1e38ff.7d18f8","2502b6e1.f18c1a","e4379b43.454188"]]},{"id":"b60c95cd.675918","type":"debug","z":"32472832.265b68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":520,"y":100,"wires":[]},{"id":"6d517507.7dce8c","type":"function","z":"32472832.265b68","name":"Temperature","func":"msg.payload = msg.payload.temp\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":200,"wires":[[]]},{"id":"eceb225.0d386e","type":"function","z":"32472832.265b68","name":"Humitidy","func":"msg.payload = msg.payload.humitidy\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":260,"wires":[[]]},{"id":"200428fe.5bd8d8","type":"function","z":"32472832.265b68","name":"Wind speed","func":"msg.payloud = msg.payload.windspeed\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":320,"wires":[[]]},{"id":"bf1e38ff.7d18f8","type":"function","z":"32472832.265b68","name":"Sunrise","func":"msg.payload = msg.payload.sunrise\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":380,"wires":[[]]},{"id":"2502b6e1.f18c1a","type":"function","z":"32472832.265b68","name":"Sunset","func":"msg.payload = msg.payload.sunset\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":440,"wires":[[]]},{"id":"e4379b43.454188","type":"function","z":"32472832.265b68","name":"Timezone","func":"msg.payload = msg.payload.timezone\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":500,"wires":[[]]}]